@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	@include flex-center();
	height: 100vh;
	margin: 0;
	background-color: #fdfdff;
	font-family: 'Fredoka One', cursive;
	color: #4d6787;
}

h1 {
	margin: 50px 0;
	text-align: center;
	font-size: 45px;
}

.game {
	@include flex-center;
	flex-direction: column;
}

.game-reset {
	padding: 20px;
	background-color: #fefeff;
	border: 2px solid #d6e6ea;
	border-radius: 30px;
	font-family: inherit;
	font-size: 18px;
	color: #91a2ab;
	text-transform: uppercase;
	cursor: pointer;
	outline: transparent;

	&.reset-disabled {
		opacity: 0.4;
		pointer-events: none;
	}
}
