.square {
	width: 90px;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&:nth-child(even) {
		border-left: 2px solid #d6e6ea;
		border-right: 2px solid #d6e6ea;
	}

	&:hover {
		background-color: #ecfcfc;
	}
}

.square-icon {
	height: 70px;
	width: 70px;
}
